body {
    display: flex;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}
.canvas-container {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    padding: 12px 15px;
    border-radius: 8px;
}

